.venv/
*.swp
desktop.ini
.vscode
*.pyc
videos
*.mp4
*.mkv
*.sketch
exported-assets
*.png
!**/lectures/**/assets/*.png
build
dist
*.spec
__pycache__
*.tscproj
*.indd
*.pdf
endscreens
.idea
*.cmproj
.DS_Store
questions
*.zip
promo/
*.pptx
node_modules
data.db
.env
venv
*.prproj
*.cfa
*.pek
*.mov
*.xml
*.aegraphic
subs/
exports/
raw/
videos/
captions/
intro-screens/
premiere-projects/
Adobe Premiere Pro Auto-Save/
Motion Graphics Template Media/
premiere/
*.fcpbundle