body {
  margin: 0;
}

.grid > * {
  border: 1px dashed red;
}

.grid {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-areas:
    "header header"
    "sidebar content"
    ". footer";
  padding: 8px;
}
