<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>{{ title }}</title>
        <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />

        {% block head_content %} {% endblock %}
    </head>
    
    <body>
        <header class="header">
            <h1 class="header__logo"><a href="{{ url_for('habits.index') }}" class="header__link">Habits</a></h1>
            {% if "add" not in request.endpoint %}
                <a href="{{url_for('habits.add_habit')}}" class="header__link">+ Add new</a>
            {% endif %}
        </header>

        <main class="main">
            <section class="dates">
                {% for date in date_range(selected_date) %}
                    <a 
                        class="dates__link {{ 'dates__link--current' if loop.index0 == 3 else ''}}"
                        href="{{ url_for('habits.index', date=date) }}"
                    >
                        <time class="date" datetime="{{ date }}">
                            <span>{{ date.strftime("%a") }}</span>
                            <span>{{ date.strftime("%d") }}</span>
                        </time>
                    </a>
                {% endfor %}
            </section>

            {% block main_content %}
            {% endblock %}
        </main>
    </body>
</html>
