.todo {
  margin: 8px 16px;
  padding: 12px 24px;
  border: 1px solid black;
  border-radius: 4px;
}

.todo--completed {
  background-color: aquamarine;
}

.todo--pending {
  background-color: darkred;
  color: white;
}
