<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title or "Learn Jinja Routing"}}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  {% block head %}
  {% endblock %}
</head>
<body>
  <ul class="navigation">
    <li><a href="{{ url_for('home') }}">Home</a></li>
    <li><a href="{{ url_for('login') }}">Log in</a></li>
    <li><a href="{{ url_for('signup') }}">Sign up</a></li>
  </ul>
  {% block content %}
  {% endblock %}
</body>
</html>