/* Target the `body` element of the HTML page */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  max-width: 576px;
  /*
   * Set no margins top and bottom, and equal margins left and right.
   * The left and right margins will be as big as possible,
   * which keeps the `body` centered on the page.
   */
  margin: 0 auto;
}

/* Here we're targeting all `p` and `blockquote` elements */
p,
blockquote {
  line-height: 24px;
  margin-bottom: 24px;
}

blockquote {
  /*
   * This short-hand for margin sets all 4 sides at once.
   * It starts at the top and goes clockwise:
   * top: 0, right: 0, bottom: 36px, left: 0
   */
  margin: 0 0 36px 0;
  padding-left: 30px;
  border-left: 6px solid #1c2023;
  font-style: italic;
}

a {
  /*
   * block elements by default occupy 100% of the width of their container.
   * This also enables margin top and bottom.
   */
  display: block;
  /* width: fit-content makes the block element take up only as much width as needed by its content. */
  width: fit-content;
  margin: 0 auto;
  font-size: 24px;
  padding: 8px 16px;
  background-color: #1c2023;
  color: white;
  text-decoration: none;
  border-radius: 6px;
}

/* Here we're targeting any `a` element, but only while the user is hovering over it with their mouse */
a:hover {
  /*
   * Adds a shadow under the element.
   * The properties shown here are
   *  - horizontal separation (x distance): 0
   *  - vertical separation (y distance): 5px
   *  - blur amount: 15px
   *  - shadow color: black, at 25% opacity
   */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}

.finger {
  /* This alters the default position of the icon, by separating it from the bottom and left slightly.
   * We'll learn more about this later in the course!
   */
  position: relative;
  bottom: 0.25rem;
  margin-left: 0.25rem;
}
