body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  max-width: 576px;
  margin: 0 auto;
}

p,
blockquote {
  line-height: 24px;
  margin-bottom: 24px;
}

blockquote {
  margin: 0 0 36px 0;
  padding-left: 30px;
  border-left: 6px solid #1c2023;
  font-style: italic;
}

p.link {
  text-align: center;
}

a {
  font-size: 24px;
  padding: 8px 16px;
  background-color: #1c2023;
  color: white;
  text-decoration: none;
  border-radius: 6px;
}

a:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}
