{% extends 'base.html' %}
{% block content %}
    <main class="main main--about">
        <p>
            Hi, I'm Bob! I love helping students learn to code and master software development.
            I've been teaching online for over 6 years, and I founded Teclado to bring software development to
            everyone—my objective is for you to truly understand everything that goes on behind the scenes.
        </p>
        <p>
            Coding is extremely rewarding. As you learn, things start to click and make sense.
            You can join the dots of all the things that weren't quite clear before.
            I'm here to make that journey quick and painless!
        </p>
        <p>
            I can help you with Python and JavaScript issues, particularly in web and backend development.
            I'm experienced with programming libraries and frameworks like Flask, React, React Native, and AngularJS.
            I've worked extensively with UNIX systems, MongoDB, PostgreSQL, and advanced system architecture design.
        </p>
    </main>
{% endblock %}
